<!-- display your score -->
<h3>Now your result</h3>
<p>Your word: <%= @attempt %></p>
<p>Time taken to answer: <%= @results[:time] %></p>
<p>Your score: <%= @results[:score] %></p>
<p><%= @results[:message] %></p>

